<section class="contact" id="myContact">
    <div class="header">
        <h2 class="headline">{{'contact.header' | translate}}</h2>
        <div class="seperator"></div>
    </div>
    <div class="contact-section">
        <div class="contact-text">
            <span>{{'contact.problem' | translate}}</span>
            <p>{{'contact.cnt-me' | translate}}<br></p>
            <p>{{'contact.need-me' | translate}}<b> {{'contact.me' | translate}}</b></p>
        </div>

        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" class="contact-input">

            <label for="name">Name</label>
            <div class="input-container">
                <input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="name"
                    placeholder="{{'contact.plchol-name' | translate}}" required
                    [ngClass]="{'invalid': name.invalid && name.touched, 'valid': name.valid && name.touched}">
            </div>
            @if (!name.valid && name.touched) {
            <span class="warning">{{'contact.name-warning' | translate}}</span>
            }

            <label for="email">Email</label>
            <div class="input-container">
                <input #email="ngModel" [(ngModel)]="contactData.email" type="email" id="email" name="email"
                    placeholder="{{'contact.plchol-email' | translate}}" required
                    pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                    [ngClass]="{'invalid': email.invalid && email.touched, 'valid': email.valid && email.touched}">
            </div>
            @if (!email.valid && email.touched) {
            <span class="warning">{{'contact.email-warning' | translate}}</span>
            }

            <label for="message">{{'contact.sub' | translate}}</label>
            <div class="input-container">
                <textarea #message="ngModel" [(ngModel)]="contactData.message" id="message" name="message"
                    placeholder="{{'contact.plchol-sub' | translate}}" style="height:200px" required minlength="4"
                    [ngClass]="{'invalid': message.invalid && message.touched, 'valid': message.valid && message.touched}"></textarea>
            </div>
            @if (!message.valid && message.touched) {
            <span class="warning">{{'contact.msg-warning' | translate}}</span>
            }

            <div class="input-container">
                <label>
                    <input type="checkbox" [(ngModel)]="contactData.policy" name="policy" required />
                    <span class="privacy-text">
                        {{'contact.privacyPolicy' | translate}}
                        <a [routerLink]="['policy']"> {{'contact.privacyPolicy2' | translate}}</a>
                        {{'contact.privacyPolicy3' | translate}}
                    </span>
                </label>
                @if (!contactData.policy && contactForm.submitted) {
                <span class="warning">{{'contact.policy-warning' | translate}}</span>
                }
            </div>

            <input class="submit" type="submit" value="{{'contact.send-btn' | translate}}"
                [ngClass]="{'invalid': !contactForm.form.valid || !contactData.policy, 'valid': contactForm.form.valid && contactData.policy}"
                [disabled]="!contactForm.form.valid || !contactData.policy">
        </form>

        @if (emailSent) {
        <div class="dialog">
            <p>{{'contact.emailsent' | translate}}</p>
            <button (click)="closeDialog()">{{'contact.emailok' | translate}}</button>
        </div>
        }

        <img class="purple" src="./assets/img/background/background-purple.png" alt="purple-background">
    </div>
    <div id="goToTop" (click)="scrollToTop()" class="top-arrow-img">
        <img src="./assets/img/contact/top-arrow.png" alt="arrow-to-top">
    </div>
</section>