input[type="text"],
input[type="email"],
select,
textarea {
    font-family: "Poppins";
    color: white;
    width: 100%;
    padding: 12px;
    border: 1px solid #4b47ff;
    box-sizing: border-box;
    resize: vertical;
    border-radius: 10px;
    background-color: #141d2f;
    background-repeat: no-repeat;
    background-position: right 10px top 10px;
    background-size: 20px 20px;

    &.invalid {
        border-color: #ff4d4d;
        background-image: url('./../../../assets/img/contact/required.png');
    }

    &.valid {
        border-color: #45a049;
        background-image: url('./../../../assets/img/contact/checkmark.png');
    }
}

input[type="submit"] {
    background-color: #d3d3d3;  
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: not-allowed;  
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #d3d3d3; 
    }

    &.valid {
        background-color: #4b47ff;  
        cursor: pointer;  
    }

    &.valid:hover {
        background-color: #45a049;
    }
}

section {
    position: relative;
    height: auto;
    width: 100vw;
    max-width: 1920px;
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.purple {
    position: absolute;
    top: -400px;
    right: -400px;
    width: 540px;
    rotate: 240deg;
}

.contact {
    border-radius: 5px;
    background-color: #141d2f;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.headline {
    text-align: center;
}

.top-arrow-img {
    display: flex;
    justify-content: end;
    padding-right: 25px;
    padding-bottom: 10px;
    position: relative;

    img {
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.contact-section {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.contact-text {
    max-width: 473px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;

    >span {
        font-size: 32px;
        font-weight: 700;
    }
}

.contact-input {
    color: white;
    width: 617px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .input-container {
        display: flex;
        gap: 10px;
    }

    label {
        font-size: 20px;
        font-weight: bold;
        display: flex;
        align-items: center;
        padding: 5px 0 5px 0;
    }
}

a{
    color: #00BEE8;
}

.privacy-text {
    font-size: 14px;
    padding-left: 15px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.warning {
    color: #ff4d4d;
}

@media (max-width: 1300px) {
    .contact-input {
        max-width: 450px;
    }
}

@media (max-width: 1150px) {
    .contact-text {
        width: 350px;

        >span {
            font-size: 25px;
        }
    }

    .contact-input {
        max-width: 350px;
    }
}

@media (max-width: 860px) {
    .contact-section {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .contact-input {
        max-width: 550px;
    }

    .contact-text {
        width: 550px;
    }
}

@media (max-width: 690px) {
    .contact-input {
        max-width: 350px;
    }

    .contact-text {
        width: 350px;
    }
}

@media (max-width: 500px) {
    .contact-text>p {
        font-size: 13px;
    }

    .top-arrow-img {
        display: none;
    }
}

@media (max-width: 440px) {
    .contact-input {
        max-width: 250px;
    }

    .contact-text {
        width: 250px;
    }
}