<header id="header">
    <section>
        <div>
            <img src="./assets/img/header/logo.png" alt="Logo" (click)="navigateToTop()">
        </div>
        <nav class="header-a">
            <a [class.active]="activeSection === 'aboutMe'" href="#aboutMe"
                (click)="scrollToSectionDialog('aboutMe', $event)">
                {{'header.me' | translate}}
            </a>
            <a [class.active]="activeSection === 'mySkills'" href="#mySkills"
                (click)="scrollToSectionDialog('mySkills', $event)">
                {{'header.skills' | translate}}
            </a>
            <a [class.active]="activeSection === 'myPortfolio'" href="#myPortfolio"
                (click)="scrollToSectionDialog('myPortfolio', $event)">
                {{'header.portfolio' | translate}}
            </a>
            <a [class.active]="activeSection === 'myContact'" href="#myContact"
                (click)="scrollToSectionDialog('myContact', $event)">
                {{'header.contact' | translate}}
            </a>
            <div class="translate">
                <img src="./assets/img/header/englisch.png" alt="englisch" (click)="changeLanguage('en')">
                <a (click)="changeLanguage('en')">EN</a>
                <a (click)="changeLanguage('de')">DE</a>
                <img src="./assets/img/header/germany.png" alt="deutsch" (click)="changeLanguage('de')">
            </div>
        </nav>

        <div class="navigation">
            <img class="burger-menu"
                [src]="isMenuOpen ? './assets/img/header/close-btn.png' : './assets/img/header/burger-menu.png'" alt=""
                (click)="toggleDialog()">
        </div>
    </section>

    <div class="dialog" #dialog>
        <div class="open-dialog">
            <a [class.active]="activeSection === 'aboutMe'" href="#aboutMe"
                (click)="scrollToSectionAndCloseDialog('aboutMe', $event)">
                {{'header.me' | translate}}
            </a>
            <a [class.active]="activeSection === 'mySkills'" href="#mySkills"
                (click)="scrollToSectionAndCloseDialog('mySkills', $event)">
                {{'header.skills' | translate}}
            </a>
            <a [class.active]="activeSection === 'myPortfolio'" href="#myPortfolio"
                (click)="scrollToSectionAndCloseDialog('myPortfolio', $event)">
                {{'header.portfolio' | translate}}
            </a>
            <a [class.active]="activeSection === 'myContact'" href="#myContact"
                (click)="scrollToSectionAndCloseDialog('myContact', $event)">
                {{'header.contact' | translate}}
            </a>
            <div class="translate-dialog">
                <img src="./assets/img/header/englisch.png" alt="englisch" (click)="changeLanguage('en')">
                <a (click)="changeLanguage('en')">EN</a>
                <a (click)="changeLanguage('de')">DE</a>
                <img src="./assets/img/header/germany.png" alt="deutsch" (click)="changeLanguage('de')">
            </div>
        </div>
    </div>
</header>