<header>
    <section>
        <div>
            <img src="./../../../../assets/img/header/logo.png" alt="">
        </div>
        <div class="header-a">
            <a [ngClass]="{'active': activeSection === 'aboutMe'}" (click)="scrollToSection('aboutMe')">About Me</a>
            <a [ngClass]="{'active': activeSection === 'mySkills'}" (click)="scrollToSection('mySkills')">Skills</a>
            <a [ngClass]="{'active': activeSection === 'myPortfolio'}"
                (click)="scrollToSection('myPortfolio')">Portfolio</a>
        </div>
    </section>
</header>