<section class="aboveTheFold">
    <div class="name">
        <div class="rotation">
            <p>I am</p>
        </div>
        <div>
            <div class="fullName">
                <p>Michael Schwittay</p>
            </div>
            <div class="dev">
                <p>FRONTEND DEVELOPER</p>
            </div>
        </div>
    </div>
    <div>
        <button class="talkBtn">{{'Lets Talk'}}</button>
    </div>

    <div class="links">
        <div class="hyperLinks">
            <img src="./../../../assets/img/above-the-fold/seperator.png" alt="">
            <a href="https://github.com/MichaelS96" target="_blank"><img src="./../../../assets/img/contact/github.png" alt="GitHub"></a>
            <a href="mailto:m.schwittay06@web.de"><img src="./../../../assets/img/contact/email.png" alt="GitHub"></a>
            <a href="#" target="_blank"><img src="./../../../assets/img/contact/linkedin.png" alt="GitHub"></a>
        </div>

    </div>

</section>