<section class="above-the-fold">

    <div class="name">
        <div class="rotation">
            <p>I am</p>
        </div>
        <div>
            <div class="full-name">
                <p>Michael Schwittay</p>
            </div>
            <div class="dev">
                <p>FRONTEND DEVELOPER</p>
            </div>
        </div>
    </div>

    <div>
        <button class="talk-btn">{{'Lets Talk'}}</button>
    </div>

    <div class="links">
        <div class="hyper-links">
            <img src="./../../../assets/img/above-the-fold/seperator.png" alt="green-seperator">
            <a href="https://github.com/MichaelS96" target="_blank"><img src="./../../../assets/img/contact/github.png"
                    alt="GitHub"></a>
            <a href="mailto:m.schwittay06@web.de"><img src="./../../../assets/img/contact/email.png" alt="GitHub"></a>
            <!-- <a href="#" target="_blank"><img src="./../../../assets/img/contact/linkedin.png" alt="linkedin"></a> -->
        </div>
        <div class="scroll-down">
            <img src="./../../../assets/img/above-the-fold/scroll-down.png" alt="scroll-down,img">
        </div>
    </div>

</section>