<section class="feedback-area">
    <div class="feedback">
        <div class="bracket">
            <img src="./../../../../assets/img/projects/feedback/bracket.png" alt="">
        </div>
        <div class="feedback-msg">
            {{ currentFeedback.feedback }}
        </div>
        <div class="feedback-name">
            <img src="./../../../../assets/img/projects/feedback/vector7.png" alt="">
            <p>{{ currentFeedback.name }} - {{ currentFeedback.role }}</p>
        </div>
    </div>
    <div class="feedback-person">
        <div class="feedback-img">
            <img [src]="currentFeedback.image" alt="">
        </div>
        <div class="navigation-controls">
            <button (click)="showPreviousFeedback()" class="arrow left-arrow">‹</button>
            <div class="dots">
                @for (feedback of feedbacks; track $index) {
                <span class="dot" [class.active]="$index === currentFeedbackIndex" (click)="updateFeedbackIndex($index)">
                </span>
                }
            </div>
            <button (click)="showNextFeedback()" class="arrow right-arrow">›</button>
        </div>
    </div>

</section>