<section class="about-me" id="aboutMe">
    <div class="about-me-content" data-aos="fade-up-right" data-aos-duration="2000">
        <h2>{{'about-me.me'| translate}}</h2>
        <span>{{'about-me.aboutme'| translate}} </span>
        <div class="icons">
            <div class="icon">
                <img src="./assets/img/about-me/ping-blue2.png" alt="">
                <span>
                    {{'about-me.place'| translate}} </span>
            </div>
            <div class="icon">
                <img src="./assets/img/about-me/bulb-blue2.png" alt="">
                <span>
                    {{'about-me.bulb'| translate}}
                </span>
            </div>
            <div class="icon">
                <img src="./assets/img/about-me/puzzle-blue2.png" alt="">
                <span>
                    {{'about-me.puzzle'| translate}}
                </span>
            </div>
        </div>
    </div>

    <div class="photo-me" data-aos="fade-up-left" data-aos-duration="2000">
        <img class="me" src="./assets/img/about-me/pb123.png" alt="" srcset="">
        <img class="shadow" src="./assets/img/about-me/behind-me.png" alt="">
    </div>
    
</section>
<div class="background"></div>