<section class="about-me">

    <div class="about-me-content">
        <h2>About Me</h2>
        <span>
            Hello, I am a German-speaking Frontend Developer from Werl, Germany. Driven by the endless possibilities
            in
            IT, I am passionate about creating visually appealing and user-friendly websites and applications.
            <!-- Hallo, ich bin ein deutschsprachiger Frontend-Entwickler aus Werl, Deutschland. Motiviert von den
            grenzenlosen Möglichkeiten in der IT bin ich begeistert davon, visuell ansprechende und benutzerfreundliche
            Websites und Anwendungen zu gestalten. -->
        </span>
        <div class="attributes">
            <div class="attribute">
                <img src="./../../../assets/img/about-me/ping-blue2.png" alt="">
                <span>
                    Flexible in my work environment, I can operate effectively both on-site in Werl and remotely.
                    <!-- Flexibel in Bezug auf die Arbeitsumgebungen kann ich sowohl vor Ort in Werl als auch remote
                    effektiv arbeiten. -->
                </span>
            </div>
            <div class="attribute">
                <img src="./../../../assets/img/about-me/bulb-blue2.png" alt="">
                <span>
                    I am open-minded and constantly seeking personal challenges to continuously expand my knowledge
                    and
                    enhance my skills.
                    <!-- Ich bin aufgeschlossen und stets auf der Suche nach persönlichen Herausforderungen, um mein Wissen
                    und meine Fähigkeiten kontinuierlich zu verbessern. -->
                </span>
            </div>
            <div class="attribute">
                <img src="./../../../assets/img/about-me/puzzle-blue2.png" alt="">
                <span>
                    In my profession, programming is not just about writing code—it is a creative form of
                    problem-solving. I take pride in my ability to transform complex technical challenges into
                    simple,
                    user-friendly solutions. This way, I help you achieve your goals and bring your vision to life.
                    <!-- In meinem Beruf geht es beim Programmieren nicht nur darum, Code zu schreiben, es ist eine kreative
                    Form der Problemlösung. Ich bin stolz auf meine Fähigkeit, komplexe technische Herausforderungen in
                    einfache, benutzerfreundliche Lösungen zu verwandeln. Auf diese Weise helfe ich Ihnen, Ihre Ziele zu
                    erreichen und Ihre Visionen zu verwirklichen. -->
                </span>
            </div>
        </div>
    </div>
</section>