<section class="about-me" id="aboutMe">
    <div class="about-me-content">
        <h2>About Me</h2>
        <span>
            Hello, I am a German-speaking Frontend Developer from Werl, Germany. Driven by the endless possibilities
            in IT, I am passionate about creating visually appealing and user-friendly websites and applications.
        </span>
        <div class="icons">
            <div class="icon">
                <img src="./../../../assets/img/about-me/ping-blue2.png" alt="">
                <span>
                    Flexible in my work environment, I can operate effectively both on-site in Werl and remotely.
                </span>
            </div>
            <div class="icon">
                <img src="./../../../assets/img/about-me/bulb-blue2.png" alt="">
                <span>
                    I am open-minded and constantly seeking personal challenges to continuously expand my knowledge
                    and enhance my skills.
                </span>
            </div>
            <div class="icon">
                <img src="./../../../assets/img/about-me/puzzle-blue2.png" alt="">
                <span>
                    In my profession, programming is not just about writing code—it is a creative form of problem-solving.
                    I take pride in my ability to transform complex technical challenges into simple, user-friendly solutions.
                    This way, I help you achieve your goals and bring your vision to life.
                </span>
            </div>
        </div>
    </div>

    <div class="photo-me">
        <img class="me" src="./../../../assets/img/about-me/pb123.png" alt="" srcset="">
        <img class="shadow" src="./../../../assets/img/about-me/behind-me.png" alt="">
    </div>
    <div class="background">
        <img src="./../../../assets/img/background/about-me-bow.png" alt="">
    </div>
</section>
