h2 {
    font-size: 90px;
    margin-bottom: 0;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 32px;
    color: #9747FF;
}

.skills {
    position: relative;
    width: 100vw;
    margin-top: 100px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    max-width: 1920px;
    z-index: 80;
}

.skills-sektion {
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    z-index: 80;
}

.skills-headline {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.skills-headline img {
    margin-top: 80px;
    height: 100%;
}

.skills-row {
    display: flex;
    gap: 100px;
    width: 562px;
    max-width: 100%;
    padding-top: 50px;
    flex-wrap: wrap;
    z-index: 80;

    >div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 80px;
        height: 80px;

        >img {
            transition: transform 0.2s;
        }

        &:hover {
            >img {
                transform: translateY(-10px);
            }
        }

        >p {
            text-align: center;
        }
    }
}

.skill-image {
    width: 70px;
    height: 70px;
    transition: transform 0.4s ease, filter 0.4s ease, rotate 0.4s ease;

    &:hover {
        transform: scale(1.2) rotate(10deg);
        filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.8));
    }
}

.skill-name {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: 15px;
}

.looking {
    display: flex;
    align-items: center;
    gap: 8px;

    h3,
    h4 {
        font-size: 28px;
    }
}

.skills-text {
    max-width: 560px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 80;
    padding-right: 50px;
}

.talk-btn {
    padding: 15px 30px;
    border: 0;
    width: 250px;
    border-radius: 10px;
    font-size: 23px;
    background-color: #00BEE8;
    transition: all 0.2s ease-in-out;
    color: white;

    &:hover {
        transform: scale(1.1);
        background-color: #9747FF;
        cursor: pointer;
    }
}

@media (max-width: 1400px) {
    .skills-row {
        gap: 95px;
        width: 400px;
        flex-wrap: wrap;
    }
}

@media (max-width: 1200px) {
    .skills-row>div {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 960px) {
    .skills {
        padding-left: 0;
        padding-right: 0;
        margin-top: 100px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .skills-sektion {
        padding-left: 0px;
        width: 80%;
    }

    .skills-text {
        max-width: 100%;
        padding-right: 0;
        width: 80%;
    }

    .skills-row {
        gap: 50px;
        display: flex;
        justify-content: center;
        margin-top: 40px;
        gap: 100px;
        width: 100%;
    }
}

@media (max-width: 575px) {
    .skills-sektion {
        padding-left: 0;
        width: 80%;
    }
}

@media (max-width: 500px) {
    .skills-text {
        width: 280px;

        >span {
            font-size: 16px;
        }
    }

    .talk-btn {
        font-size: 16px;
        width: 210px;
    }

    h2 {
        font-size: 55px;
    }

    .skills-row {
        padding-top: 0;
        gap: 80px;

        >div {
            >img {
                width: 40px;
                height: 40px;
            }

            >p {
                font-size: 16px;
            }
        }
    }

    .skills-sektion {
        width: 280px;
    }

    .looking {

        h3,
        h4 {
            font-size: 18px;
        }
    }
}