<section id="mySkills" class="skills">
    <div class="skills-sektion" data-aos="flip-left" data-aos-delay="500" data-aos-duration="1000">
        <div class="skills-row">
            @for (skill of skills; track $index) {
            <div>
                <img class="skill-image" src="{{skill.image}}" alt="{{skill.name}}">
                <p class="skill-name">{{skill.name}}</p>
            </div>
            }
        </div>
    </div>
    <div class="skills-text">
        <div class="skills-headline">
            <h2>Skills</h2>
            <img src="./assets/img/skills/seperator-blue.png" alt="">
        </div>
        <span>
            My journey has involved working on diverse projects, employing a range of frontend technologies and
            concepts. I am open to embracing new technologies and methodologies to Continously enhance my skills and
            stay ahead in the ever-evolving landscape of web development.
            <!-- Meine Reise hat mich dazu geführt, an vielfältigen Projekten zu arbeiten und dabei eine breite Palette von
            Frontend-Technologien und Konzepten einzusetzen. Ich bin offen dafür, neue Technologien und Methoden zu
            nutzen, um meine Fähigkeiten kontinuierlich zu verbessern und in der sich ständig weiterentwickelnden Welt
            der Webentwicklung am Puls der Zeit zu bleiben. -->
        </span>
        <div class="looking">
            <!-- <h3>Suche nach</h3>
            <h4>anderen Skills?</h4> -->
            <h3>Looking for</h3>
            <h4>another Skills?</h4>
        </div>
        <span>
            Feel free to contact me. I look forward to expanding on my previous knowledge.
            <!-- Gerne kannst Du mich kontaktieren. Ich freue mich darauf, mein Wissen weiter auszubauen. -->
        </span>

        <button id="talkBtn" class="talk-btn">Get in touch</button>
    </div>
</section>