<section id="mySkills" class="skills">
    <div class="skills-sektion" data-aos="flip-left" data-aos-delay="500" data-aos-duration="1000">
        <div class="skills-row">
            @for (skill of skills; track $index) {
            <div>
                <img class="skill-image" src="{{skill.image}}" alt="{{skill.name}}">
                <p class="skill-name">{{skill.name}}</p>
            </div>
            }
        </div>
    </div>
    <div class="skills-text">
        <div class="skills-headline">
            <h2>{{'skills.header'|translate}}</h2>
            <!-- <img src="./assets/img/skills/seperator-blue.png" alt=""> -->
        </div>
        <span>
            {{'skills.under-header'|translate}}
        </span>
        <div class="looking">
            <h3>{{'skills.looking'|translate}}</h3>
            <h4>{{'skills.another'|translate}}</h4>
        </div>
        <span>
            {{'skills.contact'|translate}} </span>

        <button id="talkBtn" class="talk-btn">{{'skills.btn'|translate}}</button>
    </div>
</section>