section {
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1920px) {
    section {
        overflow-x: hidden;
        width: 100dvw;
    }
    
}