section {
    padding-left: 150px;
    width: 100vw;
    max-width: 1920px;
    margin-top: 100px;
    height: calc(100vh - 90px - 250px);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
    }

    .back-home-btn {
        img {
            width: 40px;
            height: auto;
            cursor: pointer;
        }
    }

    h1 {
        font-size: 44px;
        margin: 25px 0 0 0;
    }

    h2 {
        font-size: 24px;
    }

    p {
        a {
            color: white;
        }
    }

    @media (max-width: 850px) {
        img {
            display: none;
        }
    }

    @media (max-width: 520px) {
        padding-left: 80px;
    }

    @media (max-height: 670px) {
        margin-bottom: 100px;
    }
}