<section>
    <div class="header-wrapper">
        <h1>{{'imprint.imprint'|translate}}</h1>
        <div class="back-home-btn">
            <a href="#footer"><img src="./assets/img/imprint/back.png" alt="home-btn" ></a> 
        </div>
    </div>

    <p>Michael Schwittay<br />
        Unnaer Strasse 55<br />
        59457 Werl</p>

    <h2>{{'imprint.contact'|translate}}</h2>
    <p>Telefon: &#91;Telefonnummer&#93;<br />
        E-Mail: <a href="mailto:m.schwittay96@web.de">m.schwittay96(at)web.de</a></p>

    <p>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
</section>