<section>
    <div class="header-wrapper">
        <h1>Impressum</h1>
        <div routerLink="/" class="back-home-btn">
            <img src="./assets/img/imprint/back.png" alt="home-btn">
        </div>
    </div>

    <p>Michael Schwittay<br />
        [Adresse]<br />
        [Anschrift]</p>

    <h2>Kontakt</h2>
    <p>Telefon: &#91;Telefonnummer&#93;<br />
        E-Mail: <a href="mailto:m.schwittay96@web.de">m.schwittay96(at)web.de</a></p>

    <p>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
</section>