<section id="myPortfolio" class="portfolio">

    <img class="green" src="./assets/img/background/background-green.png" alt="" srcset="">
    <img class="blue" src="./assets/img/background/background-blue.png" alt="" srcset="">
    <div class="headline">
        <h2>Portfolio</h2>

        <p>{{'Entdecke eine Auswahl meiner Arbeiten hier Interagiere mit den Projekten, um meine Fähigkeiten in Aktion zu sehen.'}}</p>
    </div>

    <div class="project">
        <app-project></app-project>
    </div>
</section>