<section id="myPortfolio" class="portfolio">

    <img class="blue" src="./assets/img/background/background-blue2.png" alt="">
    <img class="green2" src="./assets/img/background/background-green2.png" alt="">
    <div class="headline">
        
        <h2><div class="seperator-small"></div>{{'portfolio.header'|translate}}<div class="seperator"></div></h2>
        
        <p>{{'portfolio.under-head'|translate}}</p>
    </div>

    <div class="project">
        <app-project></app-project>
    </div>
</section>