<section id="myPortfolio" class="portfolio">

    <img class="blue" src="./assets/img/background/background-blue2.png" alt="">
    <img class="green2" src="./assets/img/background/background-green2.png" alt="">
    <div class="headline">
        
        <h2><img src="./assets/img/background/portfolio-seperator-small.svg" alt="seperator-small" class="seperator-small">{{'portfolio.header'|translate}}</h2>
        <img src="./assets/img/background/portfolio-seperator.svg" alt="" class="seperator">
        <p>{{'portfolio.under-head'|translate}}</p>
    </div>

    <div class="project">
        <app-project></app-project>
    </div>
</section>