.blue {
    position: absolute;
    top: -400px;
    left: 900px;
    z-index: 4;
}

.green2 {
    position: absolute;
    z-index: -1;
    top: 900px;
    left: -650px;
}

.portfolio {
    position: relative;
    max-width: 1920px;
    margin-top: 150px;
    height: auto;
}

.project {
    z-index: 4;
    margin-top: 30px;
}

h2 {
    font-size: 85px;
    color: white;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    z-index: 5;

    >p {
        color: white;
        margin-top: 20px;
        z-index: 4;
    }
}

.seperator-small{
    height: 12px;
    position: absolute;
    left: 0;
}

@media (max-width: 500px) {
    .seperator-small{
        left: -290px;
    }
}

.seperator {
    top: 50px;
    position: absolute;
    right: -934px;
    width: 1726px;
    height: 14px;
    z-index: 5;
    left: 70%;
}

@media (max-width: 1300px) {
    .seperator {
        left: 70%;
    }
}

@media (max-width: 960px) {
    .seperator {
        left: 84%;
    }
}

@media (max-width: 730px) {
    .seperator {
        left: 88%;
    }
}

@media (max-width: 580px) {
    .seperator {
        display: none;
    }
}



@media (max-width: 1030px) {
    .headline {
        >p {
            text-align: center;
            width: 600px;
        }
    }
}

@media (max-width: 960px) {
    .skills-sektion {
        padding-left: 50px;
    }


    .portfolio {
        padding-left: 0;
        padding-right: 0;
    }

    .blue {
        width: 700px;
        top: -400px;
        left: 500px;
    }

    .green2 {
        width: 400px;
        top: 900px;
        left: -350px;
    }
}

@media (max-width: 730px) {
    .headline {
        >p {
            width: 450px;
        }
    }
}

@media (max-width: 500px) {
    .headline {
        >p {
            width: 280px;
            font-size: 16px;
        }
    }

    h2 {
        font-size: 55px;
    }

    .blue {
        width: 700px;
        top: -400px;
        left: 150px;
    }
}