@for (project of projects; track $index) {
<div class="project" data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-duration="250">
    <img [src]="project.image" alt="">
    <div class="project-description">
        <span>{{ project.name }}</span>
        <p class="type">{{ project.type }}</p>
        <p class="description">{{ project.description|translate}}</p>
        <div class="buttons">
            <a [href]="project.link.liveTest" class="live-test" target="_blank">Live test</a>
            <a [href]="project.link.github" class="github" target="_blank">Github</a>
        </div>
    </div>
</div>
}