section {
    color: white;
    margin-top: 150px;
    margin-bottom: 150px;
    max-width: 1920px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;

    >h2 {
        font-size: 44px;
    }

    >h3 {
        font-size: 24px;
    }

    >p {
        font-size: 16px;

        >a {
            color: #00BEE8;
        }
    }
}

.back-home-btn {
    display: flex;
    justify-content: end;

    img {
        width: 40px;
        height: auto;
        cursor: pointer;
    }
}

@media (max-width: 850px) {
    section {
        >h2 {
            font-size: 20px;
        }
    }
}